[Unit]
Description=Update Acryl node
After=network.target

[Service]
Type=simple
ExecStart=/opt/acryl/node_update.sh 3EVSrhTf5NoHfFKFGuNzFUbWuMypaqiTMmf
RemainAfterExit=false
StandardOutput=journal
SyslogIdentifier=acryl_node_update

[Install]
WantedBy=multi-user.target
