[Unit]
Description=Update Acryl node testnet
After=network.target

[Service]
Type=simple
ExecStart=/opt/acryl/node_update_testnet.sh test_net_address
RemainAfterExit=false
StandardOutput=journal
SyslogIdentifier=acryl_node_update

[Install]
WantedBy=multi-user.target
